{% extends "layout.html" %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Jobs</h1>

    <div class="row">

        <div class="col-lg-4">
            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="fas fa-user-friends float-right"></i>
                    <h6 class="text-uppercase mt-0">All Jobs</h6>
                    {% if summary %}
                        <h2 class="my-2">{{ summary.all }}</h2>
                    {% else %}
                        <h2 class="my-2">0</h2>
                    {% endif %}
                </div> <!-- end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end card col-->

        <div class="col-lg-4">
            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="fas fa-user-friends float-right"></i>
                    <h6 class="text-uppercase mt-0">Active Jobs</h6>
                    {% if summary %}
                        <h2 class="my-2">{{ summary.active }}</h2>
                    {% else %}
                        <h2 class="my-2">0</h2>
                    {% endif %}
                </div> <!-- end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end card col-->

        <div class="col-lg-4">
            <div class="card tilebox-one">
                <div class="card-body">
                    <i class="fas fa-user-friends float-right"></i>
                    <h6 class="text-uppercase mt-0">De-Activated Jobs</h6>
                    {% if summary %}
                        <h2 class="my-2">{{ summary.inactive }}</h2>
                    {% else %}
                        <h2 class="my-2">0</h2>
                    {% endif %}
                </div> <!-- end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end card col-->

    </div> <!--- /.end cards row -->

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-sm-4">
                            <button 
                                type="button" 
                                class="btn btn-danger mb-2"
                                data-toggle="modal" 
                                data-target="#job-modal"
                            >
                                <i class="fas fa-plus-circle mr-2"></i> Add Job
                            </button>
                        </div>
                    </div> <!-- end row-->

                    <div class="table-responsive">
                        <table class="table table-centered w-100 dt-responsive nowrap" id="targets-datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>Job Name</th>
                                    <th>Exporter Name</th>
                                    <th>Create Date</th>
                                    <th>Status</th>
                                    <th style="width: 75px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if jobs %}
                                    {% for job in jobs %}
                                        <tr>
                                            <td>{{ job.job_name }}</td>
                                            <td>
                                                {{ job.exporter.exporter_description }}
                                            </td>
                                            <td>
                                                {{ job.created_at }}
                                            </td>
                                            <td>
                                                <span class="badge badge-success-lighten">Active</span>
                                            </td>
                                            <td>
                                                <a 
                                                    href="javascript:void(0);" 
                                                    class="action-icon" 
                                                    data-toggle="modal"  
                                                    data-target="#full-width-modal"
                                                > 
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <td>
                                        <span>No jobs found..</span>
                                    </td>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div> <!--- /.end table row -->

    <div id="job-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="job-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="job-modalLabel">Add New Job</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    
                    <form class="pl-3 pr-3" method="POST" action="{{ url_for('jobs') }}">

                        <div class="form-group">
                            <label for="exporter-select">Exporter Select</label>
                            <select class="custom-select" id="exporter-select" name="exporter">
                                {% if exporters %}
                                    {% for row in exporters %}
                                        <option value="{{ row.exporter_code }}">{{ row.exporter_description }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option selected="selected" disabled>No exporters found..</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="job-name">Job Name</label>
                            <input 
                                class="form-control" 
                                type="text" 
                                id="job-name"
                                name="job_name"
                                required="" 
                                placeholder="Job Name"
                            >
                        </div>

                        <div class="form-group">
                            <label for="scrape">Scrape Interval</label>
                            <input 
                                class="form-control" 
                                type="number" 
                                id="scrape"
                                name="scrape"
                                required="" 
                                placeholder="15s"
                            >
                        </div>

                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock content %}